.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 7vh;
    height: 70vh;
    width: 70vw;
    background: #fff;
    padding-bottom: 30px;
}

.wrapper {
    display: flex;
    min-height: 250px;
    width: 100%;
    margin-top: 55px;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

textarea {
    resize: none;
    color: #797979;
    background: #eaeaea;
    border-radius: 6px;
    font-size: 20px;
    border: none;
    width: 550px;
    height: 150px;
}

.button {
    width: 550px;
    height: 55px;
    background-color: #4c00b4;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 14px;
    border: none;
}

hr {
    color: black;
    size: 5px;
    width: 525px;
}
