.wrapper {
    width: 90%;
    max-width: 700px;
    margin: auto;
}

h1 {
    text-align: center;
}

#message {
    font-size: 25px;
}

#postbtndiv {
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
}

#postbtn {
    width: 100%;
    border-radius: 10px;
}

.card {
    margin-bottom: 1em;
}

#error-message {
    display: none;
}

.read {
    background-color: blue;
}

.read-checkbox {
    margin-left: 10px;
}

hr {
    color: black;
    size: 5px;
}