.container{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #3c009d;
    font-size: 50px;
    font-weight: 700;
}

.underline {
    width: 200px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    margin-left: 10px;
    font-size: 20px;
}

.forgot-password{
    text-align: center;
}

.forgot-password span {
    color: #4c00b4;
    cursor: pointer;
}

.submit {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.gray {
    background:#EAEAEA;
    color: #676767;
}