.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}

.navbar ul {
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}